<footer>
    <div class="services_list">
        <div class="service">
            <img src="{{ asset('images/clock.png" alt="')}}">
            <h2>Ouverture</h2>
            <p>10h30 à 23h45</p>
            <p>23h45 à 9h30</p>
        </div>

        <div class="service">
            <img src="{{ asset('images/pin.png" alt="')}}">
            <h2>Adresses</h2>
            <p>France-Savoie</p>
        </div>
        <div class="service">
            <img src="{{ asset('images/email.png" alt="')}}">
            <h2>Emails</h2>
            <p>contact</p>
            <p>your.dish@gmail.com</p>
        </div>
        <div class="service">
            <img src="{{ asset('images/call.png" alt="')}}">
            <h2>Numbers</h2>
            <p>+33 54454544</p>
            <p>+33 45687515</p>
        </div>

        <hr>
    </div>

</footer>
