<footer>
    <div class="services_list">
        <div class="service">
            <i class="fa-solid fa-clock"></i>
            <h2>Ouverture</h2>
           <div>
            Tous les jours
           </div>
           <div>
            de 12h à 15h
            et de 19h à 22h30
           </div>
        </div>

        <div class="service">
            <i class="fa-sharp fa-solid fa-location-dot"></i>
            <h2>Adresses</h2>
            <p>France-Savoie</p>
        </div>
        <div class="service">
            <i class="fa-regular fa-envelope"></i>
            <h2>Emails</h2>
            <p>contact</p>
            <p>contact@quaiantique.com</p>
        </div>
        <div class="service">
            <i class="fa-solid fa-phone"></i>
            <h2>Téléphone</h2>
            <p>+33 54454544</p>
            <p>+33 45687515</p>
        </div>

        <hr>
    </div>

</footer>
