<header>
    <a href="/">
        <div class="logo">
           <img src="images/Logo2.png" alt="">
        </div>
    </a>
    <ul class="menu">
        <li><a href="/#apropos">A propos</a></li>
        <li><a href="/#plats">Plats</a></li>
        <li><a href="/#les-menus">Les menus</a></li>
        <li><a href="/carte">Carte</a></li>
        {% if utilisateur is defined %}
        <li><a href="/reserver">Reserver</a></li>
        {% endif %}
        {% if utilisateur is not defined %}
            <li><a href="/connexion">Connexion</a></li>
        {% endif %}
        {% if utilisateur is defined %}
            <li><a href="#">Bonjour {{ utilisateur }}</a></li>
            <li><a href="/deconnexion">DéConnexion</a></li>
        {% endif %}
    </ul>

    <!-- menu responsive -->
    <div class="toggle_menu"></div>
</header>

<div style="margin-top:10em">

</div>