<header>
    <a href="/">
        <div class="logo">
            <p><span>Quai</span>Antique</p>
        </div>
    </a>
    <ul class="menu">
        <li><a href="/#A-propos">A propos</a></li>
        <li><a href="/carte">Carte</a></li>
        <li><a href="/reserver">Reserver</a></li>
        <li><a href="/connexion">Connexion</a></li>
    </ul>

    <!-- menu responsive -->
    <div class="toggle_menu"></div>
</header>

<div style="margin-top:10em">

</div>