<section id="les-menus">
    <h4 class="mini_title">Nos menus</h4>
    <h2 class="title">de toutes les saisons</h2>
    <div class="dishes">
        <div class="dish">
            <img src="{{ asset('images/souris-agneau.png')}}">
            <p>20€</p>
            <h2>Entrée + plat</h2>
            <a href="/reserver">Réserver</a>
        </div>
        <div class="dish">
            <img src="{{ asset('images/Plats/Menus.png')}}">
            <p>25€</p>
            <h2>Plat + Dessert + café gourmand</h2>
            <a href="/reserver">reserver</a>
        </div>
        <div class="dish">
            <img src="{{ asset('images/Plats/3.png')}}">
            <p>50€</p>
            <h2>A volonté</h2>
            <a href=" /reserver">Réserver</a>
        </div>
    </div>
    </div>
</section>
