<section id="les-menus">
    <h4 class="mini_title">Nos menus</h4>
    <h2 class="title">de toutes les saisons</h2>
    <div class="dishes">
        {% for menu in menus %}
        <div class="dish">
            <img src="{{ asset(''~menu.image~'')}}">
            <p>{{menu.prix}}€</p>
            <h2>{{menu.libelle}}</h2>
            <a href="/reserver">Réserver</a>
        </div>
        {% endfor %}
    </div>
    </div>
</section>
