<section id="plats">
    <h4 class="mini_title">Nos plats Coucou</h4>
    <h2 class="title">Incontournables</h2>
    <div class="dishes">
        {% for plat in plats %}
        <div class="dish">
            <img src="{{ asset(''~plat.image~'')}}">
            <img src="{{ asset('images/logo.png') }}" alt="Symfony!" />
            <p>{{plat.libelle}}</p>
            <h2>{{plat.description}}</h2>
            <a href="/reserver"S>Réserver</a>
        </div>
        {% endfor %}
    </div>
</div>
</section>
