{% extends "base.html.twig" %}

{% block body %}
<section id="carte">
  <table class="table">

    <thead class="table-light">
      <tr>
        <h2>Entrées</h2>
        <th scope="col">Plat</th>
        <th scope="col">Ingrédient</th>
      <th scope="col">Prix</th>
        </th>
      </tr>
    </thead>

    <tbody>
      <th scope="col">Salade César</th>
      <th scope="col">Salade, tomage, fromage, poulet</th>
    <th scope="col">15€</th>
    </tbody>
    <tbody>
      <th scope="col">Soupe</th>
      <th scope="col">légumes de saison, crème fraiche</th>
    <th scope="col">18€</th>
    </tbody>
    <tbody>
      <th scope="col">8 Tapas aux fruits de mer</th>
      <th scope="col">Crevettes, moules, saumon, thon</th>
    <th scope="col">20€</th>
    </tbody>
  </table>


  <table class="table2">

    <thead class="table-light">
      <tr>
        <h2>Plats</h2>
        <th scope="col">Plat</th>
        <th scope="col">Ingrédient</th>
      <th scope="col">Prix</th>
        </th>
      </tr>
    </thead>
    <tbody>
      <th scope="col">Lasagnes</th>
      <th scope="col">Viande 100% française, lasagnes italienne maison, fromage, sauce tomate maison</th>
    <th scope="col">25€</th>
    </tbody>
    <tbody>
      <th scope="col">Saumons</th>
      <th scope="col">Saumon frais accompagné de purée et salade</th>
    <th scope="col">25€</th>
    </tbody>
    <tbody>
      <th scope="col">Raclette</th>
      <th scope="col">Raclette, charcuterie locale, salade</th>
    <th scope="col">28€</th>
    </tbody>
  </table>

  <table class="table2">

    <thead class="table-light">
      <tr>
        <h2>Desserts</h2>
        <th scope="col">Dessert</th>
        <th scope="col">Ingrédient</th>
      <th scope="col">Prix</th>
        </th>
      </tr>
    </thead>
    <tbody>
      <th scope="col">Tiramisu</th>
      <th scope="col">Fraises, speculos</th>
    <th scope="col">10€</th>
    </tbody>
    <tbody>
      <th scope="col">Café/thé gourmand</th>
      <th scope="col">Mélange de desserts en format mini et thé/Café</th>
    <th scope="col">15€</th>
    </tbody>
    <tbody>
      <th scope="col">Fondant au chocolat</th>
      <th scope="col">Chocola</th>
    <th scope="col">8€</th>
    </tbody>
  </table>
  <table class="table2">

    <thead class="table-light">
      <tr>
        <h2>Boissons</h2>
        <th scope="col">Boisson</th>
        <th scope="col">Spécificités</th>
      <th scope="col">Prix</th>
        </th>
      </tr>
    </thead>
    <tbody>
      <th scope="col">Limonde</th>
      <th scope="col"></th>
    <th scope="col">8€</th>

    </tbody>
    <tbody>
      <th scope="col">Vins régionaux</th>
      <th scope="col">De bordeaux, blanc, rouge,</th>
    <th scope="col">35€</th>
    </tbody>
    <tbody>
      <th scope="col">Champagne</th>
      <th scope="col"></th>
    <th scope="col">25€</th>
    </tbody>
  </table>

</section>
{% endblock %}
