{% extends "base.html.twig" %}

{% block body %}

<div>
  <h1>Notre carte</h1>
  <p>Découvrez, à travers cette carte nos entrées, nos plats, desserts et boissons.</p>
</div>

   <div class="container text-center">
    <h2>Entrées</h2>
    
    <div class="row">
      <div class="col">
        Salade
      </div>
      <div class="col">
        13€
      </div>
    </div>
    <div class="row">
      <div class="col">
        Soupe aux légumes de saison
      </div>
      <div class="col">
        14€
      </div>
    </div>

    <div class="row">
      <div class="col">
        Verrines
      </div>
      <div class="col">
        14€
      </div>
    </div>

    <div class="row">
      <div class="col">
        Tapas
      </div>
      <div class="col">
        14€
      </div>
    </div>
  </div>

  <div class="container text-center margin="auto">
    <h2>Plats</h2>
    
    <div class="row">
      <div class="col">
      Lasagnes
      </div>
      <div class="col">
        13€
      </div>
    </div>
    <div class="row">
      <div class="col">
        Souris d'agneau
      </div>
      <div class="col">
        14€
      </div>
    </div>

    <div class="row">
      <div class="col">
      Pâtes
      </div>
      <div class="col">
        14€
      </div>
    </div>

    <div class="row">
      <div class="col">
      Plateau de charcuterie
      </div>
      <div class="col">
        14€
      </div>
    </div>
  </div>
  <div class="container text-center">
    <h2>Boissons</h2>
    
    <div class="row">
      <div class="col">
    Boisson gaseuse
      </div>
      <div class="col">
        5€
      </div>
    </div>
    <div class="row">
      <div class="col">
        Sirop
      </div>
      <div class="col">
        8€
      </div>
    </div>

    <div class="row">
      <div class="col">
      Champagne (toutes sortes)
      </div>
      <div class="col">
        20€ la bouteille
      </div>
    </div>

    <div class="row">
      <div class="col">
     Vin (toutes sortes)
      </div>
      <div class="col">
        35€ la bouteille
      </div>
    </div>
  </div>

  <div class="container text-center">
    <h2>desserts</h2>
    
    <div class="row">
      <div class="col">
   Tiramisu aux fraises
      </div>
      <div class="col">
        8€
      </div>
    </div>
    <div class="row">
      <div class="col">
      Café gourmand ou thé gourmand
      </div>
      <div class="col">
        13€
      </div>
    </div>

    <div class="row">
      <div class="col">
     Fondant au chocalat
      </div>
      <div class="col">
        14€
      </div>
    </div>

    <div class="row">
      <div class="col">
    Crèmes brulées
      </div>
      <div class="col">
        15€
      </div>
    </div>
  </div>
{% endblock %}
